/* Import Google Fonts and Typekit Fonts */@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


@import url('https://use.typekit.net/jbl6izv.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override react-phone-input-2 country list max-height globally */
.react-tel-input .country-list {
  max-height: 50vh !important; /* half of screen height */
  overflow-y: auto !important;
  z-index: 9999 !important; /* ensures it appears above other elements */
}


body {
  font-family: 'Cabin',sans-serif;
  margin: 0;
  width: 100vw;
  background-color: var(--White, #fff);
  padding: 0;
  overflow-x: hidden;
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

*::-webkit-scrollbar {
  width: 12px; 
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.animate-scroll {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}